<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" package="com.xamarin.eLiDAR" android:installLocation="auto" android:versionName="white pine">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="28" />
	<application android:label="eLiDAR.Android" android:allowBackup="false" android:icon="@mipmap/Heatmap"></application>
</manifest>